@font-face {
  font-family: 'Monor';
  src: url('/fonts/Monor_Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Roundo';
  src: url('/fonts/Roundo-Regular.otf') format('opentype');
}

html, body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  overflow-x: hidden;
  cursor: crosshair !important;
  -webkit-font-smoothing: antialiased;
}

/* Ocultar Scrollbar */
::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::selection {
  background: #002FA7;
  color: white;
}

img, video {
  display: block;
  user-select: none;
}